body {
	font-family: sans-serif;
	background-color: #606060;
	color: #ffffff;
}

.map {
	background-color: #000000;
	border: 2px solid #d0d0d0;
	height: 500px;
	width: 500px;
	display: inline-block;
}

tr {
	background-color: #404040
}

tr:nth-child(even) {
	background-color: #808080
}
